// Misc
$egg-radius: 54% / 65% 65% 47% 47%;

// Colors 
$black:  #0f0f0f;
$white: #fdfdfd;

$background: #fcf8ec;

$body-main: #fdd432;
$body-shadow: darken($body-main, 12%);

$accent-main: #e84b30;

$screen-black: #6c6c4e;
$screen-white: #e3e6c9;

// Sizes for Margo
$s: 4;  // size
$m-c: 14; // columns
$m-r: 14; // rows

// Sprites for Margo
$margo-stand:
      // row 0
      5 * $s + px 0 $screen-black,
      6 * $s + px 0 $screen-black,
      7 * $s + px 0 $screen-black,
      8 * $s + px 0 $screen-black,
      9 * $s + px 0 $screen-black,
      
      // row 1
      4 * $s + px 1 * $s + px $screen-black,
      10 * $s + px 1 * $s + px $screen-black,
      
      // row 2
      1 * $s + px 2 * $s + px $screen-black,
      2 * $s + px 2 * $s + px $screen-black,
      3 * $s + px 2 * $s + px $screen-black,
      5 * $s + px 2 * $s + px $screen-black,
      9 * $s + px 2 * $s + px $screen-black,
      11 * $s + px 2 * $s + px $screen-black,
      
      // row 3
      0 * $s + px 3 * $s + px $screen-black,
      12 * $s + px 3 * $s + px $screen-black,
      
      // row 4
      1 * $s + px 4 * $s + px $screen-black,
      2 * $s + px 4 * $s + px $screen-black,
      3 * $s + px 4 * $s + px $screen-black,
      12 * $s + px 4 * $s + px $screen-black,
      
      // row 5
      0 * $s + px 5 * $s + px $screen-black,
      12 * $s + px 5 * $s + px $screen-black,
      
      // row 6
      1 * $s + px 6 * $s + px $screen-black,
      2 * $s + px 6 * $s + px $screen-black,
      3 * $s + px 6 * $s + px $screen-black,
      12 * $s + px 6 * $s + px $screen-black,
      
      // row 7
      3 * $s + px 7 * $s + px $screen-black,
      8 * $s + px 7 * $s + px $screen-black,
      10 * $s + px 7 * $s + px $screen-black,
      13 * $s + px 7 * $s + px $screen-black,
      
      // row 8
      3 * $s + px 8 * $s + px $screen-black,
      8 * $s + px 8 * $s + px $screen-black,
      10 * $s + px 8 * $s + px $screen-black,
      13 * $s + px 8 * $s + px $screen-black,
      
      // row 9
      3 * $s + px 9 * $s + px $screen-black,
      9 * $s + px 9 * $s + px $screen-black,
      13 * $s + px 9 * $s + px $screen-black,
      
      // row 10
      4 * $s + px 10 * $s + px $screen-black,
      12 * $s + px 10 * $s + px $screen-black,
      
      // row 11
      5 * $s + px 11 * $s + px $screen-black,
      7 * $s + px 11 * $s + px $screen-black,
      8 * $s + px 11 * $s + px $screen-black,
      9 * $s + px 11 * $s + px $screen-black,
      11 * $s + px 11 * $s + px $screen-black,
      
      // row 12
      5 * $s + px 12 * $s + px $screen-black,
      7 * $s + px 12 * $s + px $screen-black,
      9 * $s + px 12 * $s + px $screen-black,
      11 * $s + px 12 * $s + px $screen-black,
      
      // row 13
      6 * $s + px 13 * $s + px $screen-black,
      10 * $s + px 13 * $s + px $screen-black;

$margo-sit:
      // row 1
      5 * $s + px 1 * $s + px $screen-black,
      6 * $s + px 1 * $s + px $screen-black,
      7 * $s + px 1 * $s + px $screen-black,
      8 * $s + px 1 * $s + px $screen-black,
      9 * $s + px 1 * $s + px $screen-black,
      
      // row 2
      4 * $s + px 2 * $s + px $screen-black,
      10 * $s + px 2 * $s + px $screen-black,
      
      // row 3
      1 * $s + px 3 * $s + px $screen-black,
      2 * $s + px 3 * $s + px $screen-black,
      3 * $s + px 3 * $s + px $screen-black,
      5 * $s + px 3 * $s + px $screen-black,
      9 * $s + px 3 * $s + px $screen-black,
      11 * $s + px 3 * $s + px $screen-black,
      
      // row 4
      0 * $s + px 4 * $s + px $screen-black,
      12 * $s + px 4 * $s + px $screen-black,
      
      // row 5
      1 * $s + px 5 * $s + px $screen-black,
      2 * $s + px 5 * $s + px $screen-black,
      3 * $s + px 5 * $s + px $screen-black,
      12 * $s + px 5 * $s + px $screen-black,
      
      // row 6
      0 * $s + px 6 * $s + px $screen-black,
      12 * $s + px 6 * $s + px $screen-black,
      
      // row 7
      1 * $s + px 7 * $s + px $screen-black,
      2 * $s + px 7 * $s + px $screen-black,
      3 * $s + px 7 * $s + px $screen-black,
      12 * $s + px 7 * $s + px $screen-black,
      
      // row 8
      3 * $s + px 8 * $s + px $screen-black,
      8 * $s + px 8 * $s + px $screen-black,
      10 * $s + px 8 * $s + px $screen-black,
      13 * $s + px 8 * $s + px $screen-black,
      
      // row 9
      3 * $s + px 9 * $s + px $screen-black,
      8 * $s + px 9 * $s + px $screen-black,
      10 * $s + px 9 * $s + px $screen-black,
      13 * $s + px 9 * $s + px $screen-black,
      
      // row 10
      3 * $s + px 10 * $s + px $screen-black,
      9 * $s + px 10 * $s + px $screen-black,
      13 * $s + px 10 * $s + px $screen-black,
      
      // row 11
      4 * $s + px 11 * $s + px $screen-black,
      12 * $s + px 11 * $s + px $screen-black,
      
      // row 12
      5 * $s + px 12 * $s + px $screen-black,
      7 * $s + px 12 * $s + px $screen-black,
      8 * $s + px 12 * $s + px $screen-black,
      9 * $s + px 12 * $s + px $screen-black,
      11 * $s + px 12 * $s + px $screen-black,
      
      // row 13
      6 * $s + px 13 * $s + px $screen-black,
      10 * $s + px 13 * $s + px $screen-black;

$margo-toot:
      // row 0
      1 * $s + px 0 $screen-black,
      4 * $s + px 0 $screen-black,
      5 * $s + px 0 $screen-black,
      6 * $s + px 0 $screen-black,
      7 * $s + px 0 $screen-black,
      8 * $s + px 0 $screen-black,
      9 * $s + px 0 $screen-black,
      
      // row 1
      0 * $s + px 1 * $s + px $screen-black,
      2 * $s + px 1 * $s + px $screen-black,
      3 * $s + px 1 * $s + px $screen-black,
      5 * $s + px 1 * $s + px $screen-black,
      10 * $s + px 1 * $s + px $screen-black,
  
      // row 2
      0 * $s + px 2 * $s + px $screen-black,
      8 * $s + px 2 * $s + px $screen-black,
      11 * $s + px 2 * $s + px $screen-black,
      
      // row 3
      1 * $s + px 3 * $s + px $screen-black,
      2 * $s + px 3 * $s + px $screen-black,
      3 * $s + px 3 * $s + px $screen-black,
      12 * $s + px 3 * $s + px $screen-black,
      
      // row 4
      0 * $s + px 4 * $s + px $screen-black,
      12 * $s + px 4 * $s + px $screen-black,
      
      // row 5
      0 * $s + px 5 * $s + px $screen-black,
      2 * $s + px 5 * $s + px $screen-black,
      3 * $s + px 5 * $s + px $screen-black,
      12 * $s + px 5 * $s + px $screen-black,
      
      // row 6
      1 * $s + px 6 * $s + px $screen-black,
      3 * $s + px 6 * $s + px $screen-black,
      12 * $s + px 6 * $s + px $screen-black,
      
      // row 7
      3 * $s + px 7 * $s + px $screen-black,
      8 * $s + px 7 * $s + px $screen-black,
      10 * $s + px 7 * $s + px $screen-black,
      13 * $s + px 7 * $s + px $screen-black,
      
      // row 8
      3 * $s + px 8 * $s + px $screen-black,
      9 * $s + px 8 * $s + px $screen-black,
      13 * $s + px 8 * $s + px $screen-black,
      
      // row 9
      3 * $s + px 9 * $s + px $screen-black,
      13 * $s + px 9 * $s + px $screen-black,
      
      // row 10
      3 * $s + px 10 * $s + px $screen-black,
      12 * $s + px 10 * $s + px $screen-black,
      
      // row 11
      4 * $s + px 11 * $s + px $screen-black,
      6 * $s + px 11 * $s + px $screen-black,
      7 * $s + px 11 * $s + px $screen-black,
      9 * $s + px 11 * $s + px $screen-black,
      10 * $s + px 11 * $s + px $screen-black,
      11 * $s + px 11 * $s + px $screen-black,
      
      // row 12
      4 * $s + px 12 * $s + px $screen-black,
      6 * $s + px 12 * $s + px $screen-black,
      7 * $s + px 12 * $s + px $screen-black,
      9 * $s + px 12 * $s + px $screen-black,
      
      // row 13
      5 * $s + px 13 * $s + px $screen-black,
      8 * $s + px 13 * $s + px $screen-black;

// Sizes for poop
$p-c:  8; // columns
$p-r:  9; // rows

$poop:
  // row 0 is empty because pixel 0,0 doesnt work
  
  // row 1
  0px 1 * $s + px $screen-black,
  
  // row 2
  1 * $s + px 2 * $s + px $screen-black,
  6 * $s + px 2 * $s + px $screen-black,
  
  // row 3
  0 * $s + px 3 * $s + px $screen-black,
  7 * $s + px 3 * $s + px $screen-black,
  
  // row 4
  3 * $s + px 4 * $s + px $screen-black,
  6 * $s + px 4 * $s + px $screen-black,
  
  // row 5
  3 * $s + px 5 * $s + px $screen-black,
  4 * $s + px 5 * $s + px $screen-black,
  
  // row 6 
  2 * $s + px 6 * $s + px $screen-black,
  3 * $s + px 6 * $s + px $screen-black,
  5 * $s + px 6 * $s + px $screen-black,
  
  // row 7
  1 * $s + px 7 * $s + px $screen-black,
  3 * $s + px 7 * $s + px $screen-black,
  4 * $s + px 7 * $s + px $screen-black,
  5 * $s + px 7 * $s + px $screen-black,
  6 * $s + px 7 * $s + px $screen-black,
  
  // row 8
  1 * $s + px 8 * $s + px $screen-black,
  2 * $s + px 8 * $s + px $screen-black,
  3 * $s + px 8 * $s + px $screen-black,
  4 * $s + px 8 * $s + px $screen-black,
  5 * $s + px 8 * $s + px $screen-black,
  6 * $s + px 8 * $s + px $screen-black;

// Font
@import url('https://fonts.googleapis.com/css?family=VT323');

// Lets get crackin! 

html {
  background: linear-gradient(45deg, rgba(yellow, 0.7), lightcoral);
  width: 100vw;
  height: 100vh;
  font-family: 'VT323', Helvetica, sans-serif;
  color: $screen-black;
}

.tamagotchi {
  width: 256px;
  height: 310px;
  background: $body-main;
  text-align: center;
  position: fixed;
  border-radius: $egg-radius;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.4);
  
  &__inner {
    width: 256px;
    height: 310px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $egg-radius;
    overflow: hidden;
  }
  
  &__shadow {
    position: absolute;
    border-radius: $egg-radius;
    top: 6%;
    left: 6%;
    width: 82%;
    height: 82%;
    box-shadow: 10px 15px 10px 10px rgba($body-shadow, 0.9);
    filter: blur(5px);
  }
  
  &__highlight {
    position: absolute;
    width: 25px;
    height: 75px;
    border-radius: 90% 10% 10% 90%;
    background-color: lighten($body-main, 13%);
    transform: rotate(40deg);
    left: 35px;
    top: 5px;
  }
}

.loop {
  width: 30px;
  height: 30px;
  background-color: $body-main;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: -12px;
  
  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #dd963b;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -9px;
    margin-top: -9px;
    border: 2px solid darken($body-main, 1%);
    box-shadow: -1px -1px 2px 2px lighten($body-main, 10%);
  }
}

.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -63px;
  margin-top: -60px;
  
  &__inner {
    background: $screen-white;
    width: 126px;
    height: 126px;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-bottom: 2px solid rgba($black, 0.3);
    border-top: 2px solid rgba($black, 0.3);
    box-shadow: 0 1px 1px 1px rgba($white, 0.3);
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 26px;
      background-color: rgba($screen-black, 0.3);
    }
  
    &:before {
      top: 0;
      border-radius: 13px 13px 0 0;
    }
  
    &:after {
      bottom: 0;
      border-radius: 0 0 13px 13px;
    }
  }
  
  .crack {
    position: absolute;
    background-color: $accent-main;
    border-radius: 3px;
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: $accent-main;
      border-radius: 3px;
    }
    
    &__line {
      width: 100px;
      height: 2px;
      background-color: darken($body-shadow, 15%);
      opacity: 0.3;
      position: absolute;
    }
    
    &--top {
      width: 70px;
      height: 50px;
      top: -13px;
      left: 20px;
      transform: rotate(14deg);
      
      &:before {
        width: 50px;
        height: 50px;
        left: -24px;
        bottom: -15px;
        transform: rotate(-10deg);
      }
      
      &:after {
        width: 60px;
        height: 60px;
        right: -40px;
        top: -9px;
        transform: rotate(20deg);
      }
    }
    
    &--right {       
      width: 60px;
      height: 60px;
      right: -13px;
      bottom: 30px;
      transform: rotate(50deg);
      
      &:before {
        width: 40px;
        height: 50px;
        top: -25px;
        left: -16px;
        transform: rotate(-36deg);
      }
      
      &:after {
        width: 70px;
        height: 70px;
        left: 15px;
        bottom: -35px;
        transform: rotate(-40deg);
      }
      
      .crack__line {
        right: -99px;
        top: 0;
        transform-origin: left;
        transform: rotate(-40deg);
      }
    }
    
    &--bottom {
      width: 50px;
      height: 50px;
      bottom: -12px;
      right: 38px;
      transform: rotate(50deg);
      
      &:before {
        width: 50px;
        height: 50px;
        left: 0px;
        bottom: 1px;
        transform: rotate(-24deg);
        transform-origin: bottom right;
      }
    }
    
    &--left {
      width: 80px;
      height: 80px;
      left: -10px;
      top: 10px;
      transform: rotate(20deg);
      
      &:before {
        width: 50px;
        height: 50px;
        transform-origin: bottom left;
        bottom: 1px;
        left: 0;
        transform: rotate(30deg);
      }
      
      &:after {
        width: 50px;
        height: 50px;
        bottom: -47px;
        left: 20px;
        transform: rotate(-15deg);
      }
      
      .crack__line {
        bottom: 0;
        left: -99px;
        transform-origin: right;
        transform: rotate(-30deg);
      }
    }
  }
}

.Margo { // Yes, It's capitalized. It's her name goddamnit! 
  position: absolute;
  bottom: 30px;
  left: 23px;
  height: $s * $m-r + px;
  width: $s * $m-c + px;
  animation: margo-walk 1500*4+ms steps(4) infinite;
  
  &:before {
    content: '';
    display: block;
    width: $s+px;
    height: $s+px;
    box-shadow: $margo-stand;
    //animation: margo-rest 1500ms steps(1) infinite;
  }
  
  &:after {
    content: '';
    display: block;
    width: $s+px;
    height: $s+px;
    box-shadow: $margo-stand;
    //animation: margo-rest 1500ms steps(1) infinite;
    opacity: 0.2;
    transform: translateY(-2px);
  }
  
  &.has-pooped:before,
  &.has-pooped:after {
    animation: margo-toot 1500ms steps(1) infinite !important;
  }
}

@keyframes margo-rest {
  0%   {box-shadow: $margo-stand}
  50%  {box-shadow: $margo-sit}
}

@keyframes margo-toot {
  0%   {box-shadow: $margo-stand}
  50%  {box-shadow: $margo-toot}
}

@keyframes margo-walk {
  0%     {transform: translateX(0)}
  50%    {transform: translateX($s*-4+px) scale(1, 1)}
  50.0001%    {transform: translateX($s*-4+px) scale(-1, 1)}
  99.9999%   {transform: translateX(0) scale(-1, 1)}
  100%   {transform: translateX(0) scale(1, 1)}
}

.poop {
  position: absolute;
  bottom: 34px;
  right: 4px;
  width: $s * $p-r + px;
  height: $s * $p-c + px;
  animation: poop 1500ms steps(1) infinite;
  opacity: 0;
  
  &.is-visible {
    opacity: 1;
  }
  
  &:before {
    content: '';
    display: block;
    width: $s+px;
    height: $s+px;
    box-shadow: $poop;
  }
  
  &:after {
    content: '';
    display: block;
    width: $s+px;
    height: $s+px;
    box-shadow: $poop;
    opacity: 0.2;
    transform: translateY(-2px);
  }
}

@keyframes poop {
  0%  {transform: scale(1, 1)}
  50% {transform: scale(-1, 1) translateX($s + px);}
}

.buttons {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $accent-main;
  margin: 8px 10px;
  border: 2px solid darken($accent-main, 2%);
  box-shadow: 1px 1px 3px 2px darken($body-shadow, 9%);
  transition:  background-color 200ms ease,
              box-shadow 200ms ease;
  
  &:active {
    background-color: darken($accent-main, 3%);
    box-shadow: 1px 1px 6px 2px darken($body-shadow, 8%);
  }
  
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -10px;
    top: -15px;
    border-radius: 50%;
    background-color: lighten($accent-main, 20%);
    box-shadow: 0 0 15px 2px lighten($accent-main, 30%);
    opacity: 0.4;
  }
  
  &--b {
    margin-bottom: 0;
  }
}

.chore-score {
  position: absolute;
  bottom: -40px;
  width: 100%;
  text-align: center;
  z-index: 1;
  
  
  &.is-player-thought {
    font-style: italic;
  }
}

.credits {
  &, &:visited {
    font-size: 10px;
    position: fixed;
    bottom: 5px;
    right: 10px;
    text-decoration: none;
    color: $body-main;
    letter-spacing: 2px;
  }
  
  &:hover {
    color: $accent-main;
  }
}